<mat-card class="cards">
  <mat-card-content>  
    <div *ngIf="currentToDo.inquiry_id" class="edit-form">
      <h2>Заявка на исполнение</h2>
        <div>
          <label><strong>От:</strong></label>
          {{ currentToDo.inquiry_creator }}
        </div>
        <div>
          <label><strong>Заголовок:</strong></label>
          <label>{{ currentToDo.inquiry_title }}</label>
        </div>
        <div>
          <label><strong>Текст заявки:</strong></label>
          <label>{{ currentToDo.inquiry_text }}</label>
        </div>
        <div>
          <label><strong>Категория:</strong></label>
          {{ currentToDo.todo_category_name }}
        </div>

        <div>
          <label><strong>Приоритет:</strong></label>
          {{ currentToDo.todo_priority_name }}
        </div>

        <div>
          <label><strong>Выбрать исполнителя:</strong></label>
        </div>
          <mat-form-field appearance="fill">
            <mat-label>Исполнитель</mat-label>
            <mat-select [(ngModel)]="currentToDo.todo_assigned_to" name="todo_assigned_to">
              <mat-option *ngFor="let user of users" [value]="user.id">
                {{user.first_name}} {{user.last_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          <div>
            <label><strong>Изменить статус:</strong></label>
          </div>
          <mat-form-field appearance="fill">
            <mat-label>Текущий статус</mat-label>
            <mat-select [(ngModel)]="currentToDo.todo_status" name="todo_status">
              <mat-option *ngFor="let status of todostatuses" [value]="status.status_id">
                {{status.status_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>      
          <div>
      <button mat-raised-button color="primary"
              type="submit"
              (click)="updateInquiry()">
        Сохранить изменения
      </button>
      </div>
      <p>{{ message }}</p>
    </div>
  </mat-card-content>
</mat-card>

<div><h2>Комментарии</h2></div>
<mat-card class="cards">
  <mat-card-content class="edit-form">
      <mat-form-field appearance="fill">
        <mat-label>Комментарий</mat-label>
        <textarea 
        matInput type="text" 
        cdkTextareaAutosize
        cdkAutosizeMinRows="5"
        cdkAutosizeMaxRows="8"
        placeholder="Введите комментарий"
        [(ngModel)]="comment.comment_text"
        name="comment_text"></textarea>
      </mat-form-field>
    <div>
      <button mat-raised-button color="primary" type="submit" (click)="saveComment()">
        Опубликовать
      </button>
    <p>{{ message }}</p>
    </div>
  </mat-card-content>
</mat-card>

<div *ngFor="let comment of comments">
  <mat-card class="cards">
    <mat-card-subtitle>{{ comment.comment_creation_datetime }}</mat-card-subtitle>
    <label><strong>От: </strong>{{ getUser(comment.comment_creator).first_name }} {{ getUser(comment.comment_creator).last_name }}</label>
    <div><label>{{ comment.comment_text }}</label></div>
  </mat-card>
</div>

<div *ngIf="!currentToDo.inquiry_id">
  <br />
  <p>Нет доступа к данной заявке...</p>
</div>