<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by title"
          [(ngModel)]="inquiry_title"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchTitle()"
          >
            Поиск
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Список заявок</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let inquiry of inquiries; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveInquiry(inquiry, i)"
        >
          {{ inquiry.inquiry_title }}
        </li>
      </ul>
  
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllInquiries()">
        Удалить все
      </button>
    </div>
    <div class="col-md-6">
      <app-inquiry-details
        [viewMode]="true"
        [currentInquiry]="currentInquiry"
      ></app-inquiry-details>
    </div>
  </div>