<mat-card>
  <mat-card-content>
    <div class="submit-form">
      <div *ngIf="!submitted">
        
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Заголовок заявки</mat-label>
            <input matInput type="text" placeholder="Введите заголовок" [(ngModel)]="todo.inquiry_title" name="inquiry_title">
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Текст заявки</mat-label>
            <textarea 
            matInput type="text" 
            cdkTextareaAutosize
            cdkAutosizeMinRows="5"
            cdkAutosizeMaxRows="8"
            placeholder="Введите текст заявки"
            [(ngModel)]="todo.inquiry_text"
            name="inquiry_text"></textarea>
          </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>Категория</mat-label>
              <mat-select [(ngModel)]="todo.todo_category" name="todo_category">
                <mat-option *ngFor="let category of todocategories" [value]="category.category_id">
                  {{category.category_name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
  
        <button mat-raised-button color="primary" (click)="saveInquiry()">Создать</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Новая заявка создана!</h4>
        <button mat-raised-button color="primary" (click)="newInquiry()">Ок!</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>