<form [formGroup]="inquiryForm">
<h2 mat-dialog-title>Заявка</h2>
<mat-dialog-content class="mat-typography">

    <div *ngIf="currentToDo.inquiry_id" class="edit-form">
          <div>
            <label><strong>От: </strong></label>
            {{ currentToDo.todo_assigned_to }}
          </div>
          <div>
            <label><strong>Заголовок: </strong></label>
            <label>{{ currentToDo.inquiry_title }}</label>
          </div>
          <div>
            <label><strong>Текст заявки: </strong></label>
            <label>{{ currentToDo.inquiry_text }}</label>
          </div>
          <div>
            <label><strong>Категория: </strong></label>
            {{ currentToDo.todo_category_name }}
          </div>
  
          <div>
            <label><strong>Приоритет: </strong></label>
            {{ currentToDo.todo_priority_name }}
          </div>
  
          <div>
            <label><strong>Выбрать исполнителя:</strong></label>
          </div>
            <mat-form-field appearance="fill">
              <mat-label>Исполнитель</mat-label>
              <mat-select formControlName="assignee" name="todo_assigned_to">
                <mat-option *ngFor="let user of users" [value]="user.id">
                  {{user.first_name}} {{user.last_name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            
            <div>
              <label><strong>Изменить статус:</strong></label>
            </div>
            <mat-form-field appearance="fill">
              <mat-label>Текущий статус</mat-label>
              <mat-select formControlName="status" name="todo_status">
                <mat-option *ngFor="let status of todostatuses" [value]="status.status_id">
                  {{status.status_name}}
                </mat-option>
              </mat-select>
            </mat-form-field>      
          <p>{{ message }}</p>
      </div>

      <div><h2>Комментарии:</h2></div>
<div>
      <mat-form-field appearance="fill">
        <mat-label>Введите комментарий</mat-label>
        <textarea 
        matInput type="text" 
        cdkTextareaAutosize
        cdkAutosizeMinRows="5"
        cdkAutosizeMaxRows="8"
        placeholder="Введите комментарий"
        formControlName="comment"
        name="comment_text"
        required></textarea>
      </mat-form-field>
    <div>
      <button mat-raised-button color="primary" (click)="saveComment()" [disabled]="inquiryForm.invalid">
        Опубликовать
      </button>
    <p>{{ message }}</p>
    </div>
</div>

      <div *ngFor="let comment of comments">
        <mat-card class="cards">
          <mat-card-subtitle>{{ comment.comment_creation_datetime }}</mat-card-subtitle>
          <label><strong>От: </strong>{{ getUser(comment.comment_creator).first_name }} {{ getUser(comment.comment_creator).last_name }}</label>
          <div><label>{{ comment.comment_text }}</label></div>
        </mat-card>
      </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button [mat-dialog-close]="true" color="primary"
                type="submit"
                (click)="updateInquiry()">
          Сохранить изменения
        </button>        
  <button mat-button mat-dialog-close>Закрыть</button>
</mat-dialog-actions>
</form>